@for $i from 1 through 10 {
    .fs-#{$i} {
        font-size: $i / 10 + 1em;
    }
}

.transition-default {
    transition: all ease 200ms;
}

.scale {
    @for $i from 1 through 10 {
        $factor: 1 + $i / 10;
        &-#{$i} {
            & {
                transform: scale($factor);
            }

            &-hover:hover {
                transform: scale($factor);
            }
        }
    }
}

.z-index {
    @for $i from 1 through 20 {
        &-#{$i} {
            z-index: $i;
        }
    }

    &-1000 {
        z-index: 1000;
    }
}
