<template>
    <div>
        <div class="dropped-file" v-bind:style="{opacity: image.id ? '1' : '0.5'}" v-for="image in imageList">
            <img alt="" draggable="false" v-bind:src="image.src"/>
            <div class="action-overlay">
                <a @click.prevent="deleteImage(image)" href="#" v-if="image.id">
                    <i class="fa fa-trash"/>
                </a>
            </div>
            <input :value="image.id" name="images[]" type="hidden"/>
        </div>
        <div class="drop-zone">
            <input @change="selectFiles" accept="image/jpeg,image/png,image/gif" multiple type="file"/>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    $width: 120px;
    $height: 120px;

    .dropped-file .action-overlay {
        & {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            text-align: right;
        }

        a, span {
            & {
                color: #FFF;
                opacity: 0.6;

                transition: opacity 200ms ease;
            }

            &:hover {
                opacity: 1;
            }

            i {
                background-color: rgba(0, 0, 0, 0.5);
                padding: 4px 5px;
                margin: 5px;
                border-radius: 3px;
            }
        }
    }

    img {
        user-select: none;
    }

    .drop-zone, .dropped-file {
        width: $width;
        height: $height;
        overflow: hidden;
        border-radius: 5px;
        display: inline-block;
        position: relative;
    }

    .dropped-file {
        & {
            margin-right: 10px;
            transition: opacity 500ms ease;
        }

        img {
            width: $width;
            height: $height;
            object-fit: cover;
        }
    }

    .drop-zone {
        & {
            border: dashed 1px #CCC;
            font-size: 42px;
            transition: border-color 200ms ease;
            text-align: center;
        }

        &:after {
            content: '+';
            font-family: monospace;
            color: #CCC;
            transition: color 200ms ease;
            line-height: $height;
        }

        &:hover {
            & {
                border-color: #99caff;
            }

            &:after {
                color: #99caff;
            }
        }

        input[type="file"] {
            width: 100%;
            height: 200%;
            position: absolute;
            top: -100%;
            opacity: 0;
            z-index: 10000;
            cursor: pointer;
            left: 0;
            bottom: 0;
        }
    }
</style>

<script>
    import fs from '../helpers/fs';
    import axios from 'axios';

    async function uploadFile(file, onprogress) {
        const formData = new FormData();
        formData.append('file', file);
        return await axios.post('/image/upload', formData, {
            headers: {
                'Content-Type': 'multipart/form-data',
            },
            onUploadProgress: e => {
                if (typeof onprogress === 'function') {
                    onprogress(Math.round((e.loaded * 100) / e.total));
                }
            },
        });
    }

    export default {
        props: ['images'],

        data() {
            return {
                imageList: [],
            };
        },

        methods: {
            deleteImage(image) {
                this.imageList.splice(this.imageList.indexOf(image), 1);
                if (image.id) {

                }
            },
            selectFiles($event) {
                Promise.all(Array.from($event.target.files).map(async file => {
                    const ref = {
                        src: (await fs.readFile(file)).target.result,
                        progress: 0,
                        id: null,
                    };
                    uploadFile(file, p => ref.progress = p)
                        .then(e => ref.id = e.data.id)
                        .catch(() => this.deleteImage(ref));
                    this.imageList.push(ref);
                }));
                $event.target.value = null;
            },
        },

        mounted() {
            this.imageList = this.images.map(e => ({ id: e.id, src: e.url }));
        },
    };
</script>
